.border-underline:hover{
border-bottom: 1px solid rgb(255, 145, 0) !important;
}
.border-underline{
    border-bottom: 1px solid rgba(255, 145, 0 ,0) !important;
}

.fs-40px{
    font-size: 40px;
}
.fs-35px{
    font-size: 35px;
}
.fs-10px{
    font-size: 10px;
}
.fs-12px{
    font-size: 12px !important;
}
.fs-18px{
    font-size: 18px;
    text-align: center;
}

.w-fit-content{
    width: fit-content !important;
}

#dropdown-split-basic
{   background-color:rgb(3,22,51);
    border-color:rgb(8,66,152);
}
#dropdown-split-basic:hover{
background-color: rgb(11,94,216);
} 

.bg-dark-blue{
    background-color:rgba(128, 0, 255, 0.52);
    border:0.5px solid rgba(255, 255, 0, 0.5);
    border-radius: 6px;
}

@media screen and (min-width: 300px){
    .d-vsm-flex{
        display: flex;
    }
}